<%- include("./partials/head.ejs") %>
  <%- include("./partials/navbar.ejs") %>

    <main>
      <h1>Aw Snap! Something goes wrong.</h1>
      <h2>We will try to fix that asap. Sorry for any inconvenience.</h2>
    </main>
    <%- include("./partials/footer.ejs") %>