<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/admin.css">
  <title>Admin Panel</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Shop</a></li>
        <li><a href="/admin/add">Add Product</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/admin/add" method="post">
      <label for="data">Enter Text</label>
      <input type="text" placeholder="enter your product details" name="data" id="data" />
      <button type="submit">Add</button>
    </form>
  </main>
</body>

</html>